<div class="container page-width">
	<div>
	<!-- the main question -->
		<h3 class="emphasize" ><%= @question.title %></h3>
		<p class="small">Question submitted by: 
		<% if @question.user != nil%>
			<%= @question.user.username  %>
		<% else %>
			Anonymous
		<% end %>
		</p>
		<span class="more"><p class="normal"><%= simple_format(@question.description) %></p></span>
		<p class="small">
			Upvotes: <%= count_question_upvotes(@question) %> 
			Downvotes: <%= count_question_downvotes(@question) %>
		</p>

	<!-- this is the submit button -->
		<% if check_question_voted(@question)%>
		<div>
			<form action="/questionvotes/vote" method="post" class="inline-form questionvote">
				<input type="hidden" name=questionvote[question_id] value="<%= @question.id %>">
				<input type="hidden" name=questionvote[updown] value="true">
				<input type="submit" value="Upvote">
			</form>
			<form action="/questionvotes/vote" method="post" class="inline-form questionvote">
				<input type="hidden" name=questionvote[question_id] value="<%= @question.id %>">
				<input type="hidden" name=questionvote[updown] value="false">
				<input type="submit" value="Downvote">
			</form>
		</div>
		<% end %>

		<ul class="list-group">
			<!-- this is chosen question -->

			<!-- this is answer submission form -->
			<% if check_submitted?(@answers_list) %>
				<li class="list-group-item">
					<p>Submit Your Answer!</p>
					<form action="/answers" method="post" class="newanswer">
						<input type="hidden" name=answer[question_id] value="<%= @question.id %>">
						<textarea type="text" name="answer[description]" class="text-form"></textarea>
						<br><br>
						<input type="submit" value="submit">
					</form>
				</li>
			<% end %>

			<!-- this is all answers for this question-->
			<li class="list-group-item"><h3>Submitted Answers</h3></li>
			<% @answers_list.each do |answer|%>
			<li class="list-group-item">
				  <span class="norm">Submitted By: <%= answer.user.username %></a></span>
				  <br>
				  <span class="small more"><%= answer.description %></span>

				  	<p class="small">
						Upvotes: <%= count_answer_upvotes(answer) %> 
						Downvotes: <%= count_answer_downvotes(answer) %>
					</p>
					<div>
						<% if check_answer_voted(answer) %>
							<form action="/answervotes/vote" method="post" class="inline-form answervote" >
								<input type="hidden" name=answervote[answer_id] value="<%= answer.id %>">
								<input type="hidden" name=answervote[updown] value="true">
								<input type="submit" value="Upvote">
							</form>
							<form action="/answervotes/vote" method="post" class="inline-form answervote">
								<input type="hidden" name=answervote[answer_id] value="<%= answer.id %>">
								<input type="hidden" name=answervote[updown] value="false">
								<input type="submit" value="Downvote">
							</form>
						<% end %>
					</div>
			</li>
		 	<% end %>
		</ul>
	<div>

	<p><a href="/questions">Back to all questions</a></p>
</div>